# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Godot scenes are resources are collpased in PRs
*.tscn linguist-generated=true
*.tres linguist-generated=true

*.png binary
*.jpg binary
*.jpeg binary
*.svg binary
*.wav binary
*.ogg binary
*.mp3 binary
*.glb binary
*.gltf binary
*.blend binary

# Aseprite
*.ase binary
*.aseprite binary
*.aseprite-extension binary
