name: Upload to itch.io
on: push
jobs:
  itchio-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Setup butler
        uses: remarkablegames/setup-butler@v2

      - name: Upload to itch.io
        run: butler push build/web/lunarium.zip hawkhobo/lunarium:html5
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}



